header{
    text-align: center;
}
#icons{
    justify-content: center;
    align-items: center;
    display: flex;
}
#fb{
    width: 50px;
    height: 38px;
    background: url(spriteimg.png) 5px 10px;
}
#yt{
    width: 50px;
    height: 38px;
    background: url(spriteimg.png) 45px 10px;
}
#gp{
    width: 50px;
    height: 38px;
    background: url(spriteimg.png) -110px 10px;
}
#current{
    text-align: center;
}